body{
    margin: 0;
    padding: 0;
    background-image: url(../images/wp8641362-thats-all-folks-wallpapers.jpg);
    background-size: cover;
    background-repeat: repeat;
    text-align: center;
    position: relative;
    

}

a {
text-decoration: underline;
color: white;



}