html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#music {
    position: absolute;
    top: 0%;
    left: 0%;
}

#space {
    background-image: url(../images/hd-wallpaper-2695569.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
    position: relative;
}
h1 {
    color: aquamarine;
    margin: 0;
}

#score {
    text-align: center;
    font-size: 30px;
    color: white;
}

#player {
    background-image: url(../images/png-transparent-space-invaders-alien-invaders-from-space-pixel-blocks-video-game-android-space-invaders-blue-game-angle-thumbnail-removebg-preview.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#object {
    background-image: url(../images/alien-spaceship-unidentified-flying-object-ufo-spacecraft-isolated-white-background-alien-spaceship-unidentified-flying-object-195330453-removebg-preview.png);
    position: absolute;
}

#bullet {
    background-color: chartreuse;
}