body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#space {
    background-image: url(../images/hd-wallpaper-2695569.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
h1 {
    color: aquamarine;
}

#score {
    text-align: center;
    text-shadow: 5px;
    font-size: 40px;
    color: white;
}

#player {
    background-color: rgb(242, 255, 0);
    position: absolute;
    border-radius: 6px;
}

#object {
    background-color: aquamarine;
    position: absolute;
    border-radius: 5px;
}

#bullet {
    background-color: chartreuse;
}